#search_02 {
    width: 300px;
    height: 50px;
    margin-left: 400px;
    margin-top: 40px;
  border-radius: 30px;
}
.zu_333{
    width:1200px;
    text-align: center;
}
#box_01{
    width:1200px;
    margin: 0 auto;
}
