{% extends "mybase.html" %}
{% block mycss %}
    <style>
        * {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .nav {
            float: left;
            width: 100%;
            margin: 0 auto;
        }

        .nav div {
            float: left;
            background-color: #16a085;
        }

        div.nav div.left {
            width: 20%;
        }

        div.login_img {
            padding: 20px 10px;
        }

        div.blog_img img {
            display: block;
            margin: 0 auto;
            margin-bottom: 10px;
        }

        div.nav div.right {
            width: 80%;
            background-color: antiquewhite;
        }

        .img_top {
            margin: 0 auto;
            border-radius: 50%;
        }

        .btn-group {
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block concent %}
    <div class="nav">
        <!-- 左栏 -->
        <div class="left">
            <div class="blog_img">
                <img src="{{ url_for("static", filename="imgs/Blog.jpg") }}" alt="" width="60%" class="img_top"/>

                <div
                        class="btn-group"
                        role="group"
                        aria-label="Basic mixed styles example"
                >
                    <button type="button" class="btn btn-danger" id="about">个人简介
                        <link href="{{ url_for("about") }}">
                    </button>
                    <button type="button" class="btn btn-warning" id="web_log">建站日志</button>
                    <button type="button" class="btn btn-success" id="porm">摸鱼诗集</button>
                </div>
            </div>
        </div>
        <!-- 右栏 -->
        <div class="right">右</div>
    </div>

{% endblock %}

{% block footer %}
    <div class="footer">
        <span>页脚</span>
    </div>
{% endblock %}
{% block myjs %}
{% endblock %}