<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {#  块标题  #}
    <title>{% block mytitle %}{% endblock %}</title>

    {#块样式，使用bootstrap.load_css()加载bootstrap的css资源#}
    {% block mystyle %}{{ bootstrap.load_css() }}{% endblock %}
    {% block mycss %}{% endblock %}
</head>
<body>
{#块导航栏#}
{% block navbar %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">首页</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/share">编程分享</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/picture">相册</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/more" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            更多
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/about">个人介绍</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/log">建站日志</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">冷不丁</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="搜一下" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
{% endblock %}

{#块内容#}
{% block concent %}
{% endblock %}

{#块JavaScript ，使用bootstrap.load_js()加载bootstrap的JavaScript资源#}
{% block scripts %}{{ bootstrap.load_js() }}{% endblock %}

{#块底部内容#}
{% block footer %}
{% endblock %}
{% block myjs %}
{% endblock %}
</body>
</html>