<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {#  块标题  #}
    <title>{% block mytitle %}
        our_music
    {% endblock %}</title>

    {#块样式，使用bootstrap.load_css()加载bootstrap的css资源#}
    {% block mystyle %}{{ bootstrap.load_css() }}{% endblock %}
    {% block scripts %}{{ bootstrap.load_js() }}{% endblock %}
    {# 自己的style#}
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/my_style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/search.css') }}"/>
</head>
<body>
<div id="nav">
    <nav>
        <div class="logo">
            <img src="{{ url_for('static',filename='imgs/logo.png') }}" alt="Logo"/>
        </div>
        <h2 id="logo"><a href="http://127.0.0.1:5000">OurMusic</a></h2>
        <ul class="nav_ul">
            <li><a href="#">首页</a></li>
            <li><a href="#">我的音乐</a></li>
            <li><a href="#">我的关注</a></li>
            <li><a href="#">音乐人</a></li>
        </ul>
    </nav>
    <div class="nav_div2">
        <ul class="navbar2_ul">
            <li><a href="#">推荐</a></li>
            <li><a href="#">排行榜</a></li>
            <li><a href="#">歌单</a></li>
        </ul>
    </div>
</div>
{% block search %}
    <div id="box_01">
    <input id="search_02" type="text">
    <button id="btn_02"><a href="">搜索</a></button>
    <div class="search_my">
        <ul class="list-group">
            <li class="list-group-item zu_333">单曲</li>
            {% for song in songs %}
               <li class="list-group-item songs_ID" id="{{ song["song_id"] }}" name="{{ song['song_id'] }}">{{ song['name'] }} {{ song['singer_list'] }} {{ song['form'] }}</li>
            {% endfor %}
        </ul>
    </div>
    </div>

{% endblock %}
{% block music %}
    <div id="music_out_c">
        <span class="songs_name">OurMusic-极简</span>
        {#        http://music.163.com/song/media/outer/url?id={i[0][0]}.mp3#}
        <audio src="http://music.163.com/song/media/outer/url?id=31877628.mp3" controls preload="auto"></audio>
    </div>
{% endblock %}
<script>
    let inp = document.querySelector("#search_02")
    let a = document.querySelector("#btn_02 a")
    inp.addEventListener('change',function (){
        let song_name = inp.value
        a.href = 'http://127.0.0.1:5000/search/'+ song_name
    })
    {#音乐播放特效#}
    let span_music_name = document.querySelector('#music_out_c span');
    let auto_music = document.querySelector("#music_out_c audio");
    let songs_lis = document.querySelectorAll('.songs_ID')
    console.log(span_music_name,auto_music,songs_lis)
    for (let song of songs_lis) {
        song.addEventListener('click', function () {
            let id = song.id
            span_music_name.innerHTML = song.innerHTML;
            auto_music.src = `http://music.163.com/song/media/outer/url?id=${id}.mp3`
            auto_music.play()
        })
    }
</script>
</body>
</html>